<h1>Updat Record</h1>
<%= simple_form_for Record.new do |f| %>
  <%= f.input :title %>
  <%= f.input :amount %>
  <%= f.input :date %>
  <%= f.submit 'Update Record', class: 'btn btn-success' %>
<% end %>