<!DOCTYPE html>
<html>
  <head>
    <title>Simple Accounting</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400|Open+Sans:300,400,600,700|Pangolin" rel="stylesheet">
    <!-- favicon -->
    <%= favicon_link_tag %>
    
    <!--  Mobile Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
  </head>

  <body>
    <div id = "wrap">
      <%= render 'shared/nav' %>

      <hr><!-- horizontal line after navbar -->

      <div class = "container">
        <%= render 'shared/flash_messages' %>
        <%= yield %>
      </div>
    </div><!-- wrap -->

    <%= render 'shared/footer' %>  
  </body>
</html>
